@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@300&display=swap");

h1,h2,h3,h4,h5,h6 {
  font-family: "Montserrat", sans-serif;
  color: white;
}

p,li {
  font-family: "Open Sans", sans-serif;
  color: white;
}

body {
    background-color: rgb(61, 61, 61);
    border: 2px #176334 solid;
    max-width: 550px;
    margin: 0 auto;
}

.profile-pic {
    max-width: 200px;
    grid-column: 1;
}