h1,h2,h3,h4,h5,h6 {
  font-family: "Lato", sans-serif;
  color: white;
}

p,li {
  font-family: "Open Sans", sans-serif;
  color: white;
}

a {
    color: #325895;
  }

a:visited{
    color: rgb(94, 94, 94);
}

body {
    background-color: rgb(61, 61, 61);
    max-width: 550px;
    margin: 0 auto;
}

  header, footer {
    background-color: #193d23;
    padding: 2em;
    margin: 0 auto;
    border-radius: 1.6%;
    align-items: center;
  }

header {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: auto;
    grid-gap: 40px;
  }
    
  main {
    padding: 0.5em 2em;
    margin: 0 auto;
  }
  
  main li {
    font-size: 18px;
    text-align: left;
  }
  
  footer {
    display: flex;
    flex-direction: column;
  }  

.profile-pic {
    max-width: 100%;
    grid-column: 1;
    border-radius: 50%;
}  

  h1 {
    grid-column: 2;
    font-size: 1.5rem;
    margin: 0.15rem;
  }

  h2 {
    font-size: 1rem;
  }

  header img {
    max-width: 200px;
    grid-column: 1;
    height: auto;
  }