
h1, h2, h3, h4 {
    font-family: "Lato", sans-serif;
    color: white;
}
p,li {
    font-family: "Open Sans", sans-serif;
    color: white;
}
a {
color: rgb(214, 162, 7);
}
a:visited{
color: rgb(94, 94, 94);
}
body {
background-color: rgb(61, 61, 61);
}
img {
width: 100%;
}
.title {
background-color: #96A13A;
margin: 0;
padding: 1em;
max-width: 250px;
}
main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  justify-items: center;
}
section {
  background-color: #000000;
  border: 1px #63705c solid;
  border-radius: 2%;
  margin: 0.5em 0.5em 2em;
  max-width: 300px;
}
h3 {
  margin: 0;
  height: 50px;
}
section p, .company {
  max-width: 250px;
  margin: 1em;
}
section .img {
  max-width: 250px;
  margin: 1em auto;
}
header, footer {
  display: grid;
  width: 100%;
  text-align: center;
  background-color: #96A13A;
  border-radius: 1.6%;
  margin: 0 auto;
}
header {
  margin-bottom: 1em;
}
footer {
  padding: 1em;
}