html {
  font-family: "Open Sans", sans-serif;
  font-style: white;
}
h1,h2,h3,h4,h5,h6 {
    font-family: "Lato", sans-serif;
    color: white;
}
header, footer {
    padding: 1em;
    margin: 0 auto;
    border-radius: 2%;
    align-items: center;
}
body {
    background-color: #5E5E5E;
    margin: 0 auto;
}
a {
    color: #D6A207;
}
a:visited{
    color: rgb(94, 94, 94);
}
header {
    background-color: black;
}
img {
    width: 75px;
}
header h1 {    
    font-size: 1em;
}
header .main-title {    
    font-size: 1.5em;
}
.upper-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.upper-header.open {
    align-items: flex-start;
}
.social-media img {
    margin: 2px;
    width: 30px;
}
.currentDate {
    text-align: center;
    color: white;
    margin-top: -6px;
    margin-bottom: -4px;
}
nav {
	margin: 0 auto;
	background-color: tomato;
}
#navMenu {
	list-style: none;
	padding: 0;
    margin: 0;
    display: none;
}
#navMenu.open {
    display: block;
}
#navMenu li:first-child {
	display: block;
}
#navMenu li {
	display: none;
}
#navMenu a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: black;
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
}
#navMenu a:hover {
	color: white;
	background-color: black;
}
#navMenu.open li {
    display: block;
}
header button {
    background: transparent;
    border: none;
    font-size: 30px;
    color: #fff;
}
#closeMenu {
    display: none;
}
#menuButton.open #symbol {
    display: none;
}
#menuButton.open #closeMenu {
    display: block;
    padding-left: 0.4em;
}

/* Main Styles */
.hero, .event, .weather, .news-release,
.join, .spotlights {
  background-color: #8E8E8E;
  border: 2px solid rgba(0, 0, 0, 0.8);
  color: #fff;
  max-width: 92vw;
  height: 250px;
  margin: 0.5em;
  padding: 0.5em;
}
.join {
  display: none;
}
.spotlights {
  list-style-type: none;
  height: auto;
  margin-bottom: 2em;
}
.spotlights li {
  max-width: 90vw;
  height: 150px;
  border: 1px solid rgba(0, 0, 0, 0.8);
  margin: 5px 0;
  padding: 0.5em;
}
.spotlights li:nth-of-type(3) {
  display: none;
}

/* Footer Sytles*/
footer {    
    background-color: #F55D3E;
    color: #fff;
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
    align-items: center;
}
footer img {
  width: 60px;
  border-radius: 50%;
}
.footer-commerce-info {
  text-align: center;
}
.footer-commerce-info p {
  padding-bottom: 15px;
  border-bottom: 2px solid black;
}
.footer-author-info {
  text-align: center;
}
.footer-author-info p {
  margin: 2px 0;
}