html {
  font-family: "Open Sans", sans-serif;
}
h1,h2,h3,h4,h5,h6 {
  font-family: "Lato", sans-serif;
  color: white;
}
header, footer {
  padding: 1em;
  margin: 0 auto;
  border-radius: 2%;
  align-items: center;
}
body {
  background-color: #5E5E5E;
  margin: 0 auto;
}
a {
  color: white;
}
a:visited {
  color: black;
}

/* Header Styles */
#banner {
  display: none;
}
header {
  background-color: #193d23;
}
header img, footer img {
  width: 75px;
  border-radius: 50%;
  padding: 1em;
}
header h1 {    
  font-size: 1em;
}
header .main-title {    
  font-size: 1.5em;
}
.upper-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.upper-header.open {
  align-items: flex-start;
}
.social-media img {
  margin: 2px;
  width: 30px;
}
nav {
	margin: 0 auto;
	background-color: #2E2E2E;
}
.navigation {
	list-style: none;
	padding: 0;
  margin: 0;
}
.navigation li {  
	display: none;
}
.navigation li:first-child {
	display: block;
}
.navigation a {
	display: block;
	text-align: left;
	text-decoration: none;
	font-weight: 700;
	font-size: clamp(1rem, 2vmin, 1.5rem);
	transition: 0.5s;
	padding: 0.75rem;
}
.navigation a:hover {
	color: white;
	background-color: black;
}
.responsive li {
  display: block;
}
.currentDate {
  text-align: center;
  color: white;
  margin-bottom: -2px;
}

/* Main Styles */
.hero, .event, .weather, .news-release,
.join, .spotlights {
  background-color: #8E8E8E;
  border: 2px solid rgba(0, 0, 0, 0.8);
  color: #fff;
  max-width: 92vw;
  height: 250px;
  margin: 0.5em;
  padding: 0.5em;
  text-align: center;
}
.event img, .join img {
  width: 150px;
}
.hero .pop-up {
  position: absolute;
  left: 0.2em;
  width: 100%;
  font-size: 1.2em;
  top: 370px;
}
.pop-up a{
  background-color: #2E2E2E;
  text-decoration: none;
  border: 1px black solid;
  padding: 0.5em;
  border-radius: 5%;
}
.hero img {
  height: 250px;
}
.join {
  display: none;
}
.spotlights {
  list-style-type: none;
  height: auto;
  margin-bottom: 2em;
}
.spotlights li {
  max-width: 90vw;
  height: 150px;
  border: 1px solid rgba(0, 0, 0, 0.8);
  margin: 5px 0;
  padding: 0.5em;
}
.spotlights li:nth-of-type(3) {
  display: none;
}
.spotlights li p { 
  padding: 1em;
}
.spotlight-1 img {
  width: 380px;
}
.news-release p {
  padding: 0em 1em 0em 1em;
}
.mid-weather {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.weather img {
  width: 112px;
}
#temp {
  font-size: 3em;
}
p.weather-type {
  font-size: 1.75em;
  margin: 0 0 10px;
}

/* Footer Sytles*/
footer {    
    background-color: #193d23;
    color: #fff;
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
    align-items: center;
}
footer img {
  width: 60px;
  border-radius: 50%;
}
.footer-commerce-info {
  text-align: center;
}
.footer-commerce-info p {
  padding-bottom: 15px;
  border-bottom: 2px solid black;
}
.footer-author-info {
  text-align: center;
}
.footer-author-info p {
  margin: 2px 0;
}

/* Discovery page */
.discovery-main {
  display: flex;
  flex-direction: column;
}
.discovery-main h1, .discovery-main h2,
.demographic {
  padding-left: 1em;
}
.discovery-main h1 {
  font-size: 2.5em;
  margin-top: 2em;
}
.description {
  padding-left: 80px;
}
#brasão {
  padding: 3em;
  max-width: 350px;
}
.demographic li {
  list-style: none;
}
.discovery-main img {
  max-width: 450px;
}
.discovery-main p {
  justify-items: center;  
  max-width: 600px;
}
.discovery-1, .discovery-2, .discovery-3,
.discovery-4,.discovery-5,.discovery-6 {

  background-color: #8E8E8E;
  border: 2px solid rgba(0, 0, 0, 0.8);
  color: #fff;
  max-width: 92vw;
  margin: 0.5em;
  padding: 0.5em;
  text-align: center;
}
/* Join Styles */
.join-main h1 {
  padding-left: 5%;
}
fieldset {
  margin: 2rem 1rem 2rem 1rem;
  border: 1px solid white;
  border-radius: 2px;
  padding: .5rem 2%;
}
legend {
  color: white;
  margin: 0 1rem;
  padding: 0 .5rem;
}
.top, form div {
  display: block;
  padding: 1rem 0 0 0;
  font-size: .8rem;
}
.top input, .top select {
  -webkit-appearance: none;
  display: block;
  font-size: 1rem;
  border: solid 1px #999;
  border-radius: 2px;
  padding: .75rem;
  color: #555;
  width: 100%;
  max-width: 26rem;
  background-color: rgba(0,0,0,0.1);
}
.sbs {
  display: block;
  padding: .75rem;
}
.membership-info {
  padding: 5% 5% 5% 5%;
}
.membership-info h3 {
  font-size: 2rem;
}.membership-info h4 {
  font-size: 1.5rem;
}
.free-membership, .bronze-membership, 
.silver-membership, .gold-membership {  
  background-color: #333;
  border-radius: 3px;
  padding: 10px;
  margin: 10px;
  max-width: 425px;
}
.submitBtn {
  border: none;
  background-color: #325895;
  color: white;
  border-radius: 4px;
  padding: .75rem 1.5rem;
  margin: 0 0 2rem 2%;
  width: 96%;
  max-width: 30rem;
}