@media (min-width: 1300px) {
    header, footer, nav, header p {
        max-width: 1600px;
        width: 100%;
    }
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
    } 
    header img {
        width: 60px;
        padding: 1em;
    }
    footer img {
        width: 125px;
    }

  /* Main Styles */
  body main {
    grid-template-columns: 25vw 50vw 25vw;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 5px;
    align-content: flex-start;
    justify-items: center;
  }
  main .hero {
    height: 550px;
    grid-column: 2;
    grid-row: 1 / span 3;
  }
  body main .event {
    grid-column: 1;
    grid-row: 1;
    margin-bottom: 0.5em;
  }
  body main .weather {
    grid-column: 1;
    grid-row: 2;
  }
  main .join {
    grid-column: 1;
    grid-row: 3;
    width: 100%;
  }
  main .news-release {
    grid-column: 2;
    grid-row: 3;
  }
  main .spotlights {
    grid-column: 3;
    grid-row: 1 / span 4;
    /* width: 70%; */
  }
  .spotlights li {
    height: auto;
  }
  .spotlights li:nth-of-type(3) {
    display: block;
  }
  body main .event,
  body main .weather,
  body main .join,
  body main .spotlights {
    width: 20vw;
  }
}