@media (min-width: 1300px) {
    header, footer, nav, header p {
        max-width: 1600px;
        width: 100%;
    }
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
    } 
    header img {
        width: 60px;
        padding: 1em;
    }
    footer img {
        width: 125px;
    }

  /* Main Styles */
  body main {
    grid-template-columns: 25vw 50vw 25vw;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 5px;
    align-content: flex-start;
    justify-items: center;
  }
  main .hero {
    height: 550px;
    grid-column: 2;
    grid-row: 1 / span 3;
  }
  .hero img {
    height: 550px;
  }
  .hero .pop-up {
    font-size: 2em;
  }
  body main .event {
    grid-column: 1;
    grid-row: 1;
    margin-bottom: 0.5em;
  }
  body main .weather {
    grid-column: 1;
    grid-row: 2;
  }
  main .join {
    grid-column: 1;
    grid-row: 3;
    width: 100%;
  }
  main .news-release {
    grid-column: 2;
    grid-row: 3;
  }
  main .spotlights {
    grid-column: 3;
    grid-row: 1 / span 4;
    /* width: 70%; */
  }
  .spotlights li:nth-of-type(3) {
    display: block;
  }
  .spotlight-3 img{
    width: 200px;
  }
  body main .event,
  body main .weather,
  body main .join,
  body main .spotlights {
    width: 20vw;
  }
  /* Discovery page */
  .discovery-main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: none;
  }
  .discovery-main img {
    grid-column: 2/3;
  }
  .discovery-main h1, .discovery-main h2,
  .demographic {
    grid-column: 1/2;
  }
  .discovery-main img {
    max-width: 600px;
  }
  .discovery-1, .discovery-2, .discovery-3,
  .discovery-4,.discovery-5,.discovery-6 {
    width: 650px;
  }
  #brasão {
    padding: 3em;
    max-width: 350px;
  }
}