@media (min-width: 520px) {
  .navigation {
	display: flex;
	}
	.navigation li {
		display: block; /* change state in small view */
		flex: 1 1 auto;
	}
	.navigation a {
		text-align: center;
	}
	.navigation li:first-child {
		display: none;
	}
  header img, footer img {
    width: 125px;
  }
  header {
  align-content: flex-start;
  }
  main {
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 325px;
    /* grid-template-rows: repeat(1fr, 6); */
    justify-items: center;
  }
  .hero {
    grid-column: 1 / span 3;
    grid-row: 1;
    width: 100%;
  }
  .hero img {
    height: 270px;
  }
  .news-release {
    grid-column: 1 / 3;
    grid-row: 2;
    width: 100%;
  }
  main .spotlights {
    display: flex;
    flex: 1 1 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    grid-column: 1 / 3;
    grid-row: 3;
    margin: 0.5em;
    margin-bottom: 0.5em;
    width: 100%;
  }
  .spotlights li {
    width: 250px;
  }
  .spotlight-1 img{
    width: 200px;
  }
  .join {
    display: block;
    grid-column: 1 / 3;
    grid-row: 4;
    width: 100%;
  }
  main .event {
    width: 90%;
    margin-bottom: 2em;
    grid-column: 1 / 2;
    grid-row: 5;
  }
  .weather {
    width: 300px;
    grid-column: 2 / 3;
    grid-row: 5;
  }
  
  /* Footer Styles */
  .footer-author-info, .footer-commerce-info {
    max-width: 1050px;
  }
  .footer-commerce-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
  }
  .footer-commerce-info div {
    display: flex;
    align-items: center;
    padding-right: 2em;
  }
  .footer-commerce-info p {
    border: none;
    margin: 0.5em;
    padding: 0;
  }
  .contact-info {
    padding-left: 2em;
  }
  .footer-author-info {
    display: flex;
    flex-direction: row;
    border-top: rgba(00, 00, 00, 0.75) 2px solid;
  }
  .footer-author-info p {
    padding: 0 1em;
    margin: 0.5em 0;
    border-right: black 1.5px solid;
  }
  .footer-author-info p:nth-of-type(4) {
    border: none;
  }
  /* Discovery page */
  .discovery-main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .discovery-main img {
    grid-column: 2/3;
  }
  .discovery-main img:hover {
    box-shadow: 0 0 50px #333;
  }
  .discovery-main p, .discovery-main h1, .discovery-main h2,
  .demographic {
    grid-column: 1/2;
  }
  .demographic, .demographic h2, .demographic ul {
    padding-left: 0px;
  }
  #brasão {    
    margin-top: -250px;
    box-shadow: none;
  }
  /* Join Styles */
  .join-main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .join-main h1 {
    max-height: 37px;
  }
  form {
    grid-column: 1/2;
  }
  .submitBtn {
    width: 20%;
    grid-column: 2/3;
  }
  .applicant {
    padding: 20px 20px 20px 20px;
  }
  .membership {
    max-height: 200px;
  }
}